<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RestoRadar</title>
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <a href="/" class="brand"><span>Resto</span>Radar</a>
      </div>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/makbarmaulana">About Us</a></li>
        </ul>
      </nav>

      <div id="drawer" class="menu__icon">
        <span class="line"></span>
      </div>
    </header>

    <div class="hero">
      <div class="hero__headline">
        <h1>Discover Restaurants in your City</h1>
      </div>
    </div>

    <main class="main">
      <div class="main__header">
        <h1>Explore Restaurants</h1>
      </div>

      <section class="contents"></section>
    </main>
  </body>
</html>
