/* Phone */
@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  .header {
    padding: 1em 2em;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header {
    padding: 1em 3em;
  }

  .nav {
    visibility: visible;
    width: auto;
    height: auto;
    position: static;
    top: unset;
    right: unset;
    text-align: center;
    background: unset;
    box-shadow: unset;
  }

  .nav__list {
    display: flex;
    gap: 3em;
  }

  .nav__item a {
    width: auto;
    padding: unset;
  }

  .nav__item a:hover {
    background: unset;
    color: var(--clr-grey-1);
  }

  .menu__icon {
    display: none;
  }

  .hero__headline h1 {
    font-size: 2.7rem;
  }

  .main {
    padding: 3em 2em;
  }

  .content__thumbnail {
    height: 300px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .hero__headline h1 {
    font-size: 3rem;
  }

  .main {
    padding: 3em;
  }
}
