/*
 * Phone
*/

@media screen and (min-width: 360px) {
  .content__item {
    max-width: 20em;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  .header {
    padding: 0 2em;
  }
}

/*
* Tablet
*/

@media screen and (min-width: 768px) {
  .header {
    padding: 0 3em;
  }

  .menu {
    display: none;
  }

  .nav__list {
    visibility: visible;
    width: auto;
    height: auto;
    position: static;
    top: unset;
    right: unset;
    text-align: center;
    background: transparent;
    box-shadow: unset;
    display: flex;
    gap: 3em;
  }

  .nav__item a {
    width: auto;
    border: unset;
  }

  .nav__item a:hover {
    background: transparent;
    color: var(--clr-accent);
  }

  .hero__headline h2 {
    font-size: 2.7rem;
  }

  .main {
    padding: 3em 2em;
  }

  .content__item {
    max-width: unset;
  }

  .content__thumbnail {
    height: 250px;
  }
}

/*
 * Laptop
*/

@media screen and (min-width: 1024px) {
  .hero__headline h2 {
    font-size: 3rem;
  }

  .main {
    padding: 3em;
  }
}
